<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zup boa vista.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>zup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>zup_floripa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>zup_maceio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>zup_sbc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>zup_sbc_sbcserver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88387C85184045DC0059C826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88387CAC184045DC0059C826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C152FAE1AD99341004E0BB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C5ECE101AA7DAA000BD1791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C6792661AC51B0C0024A726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C6792F11AC522F20024A726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C705FBD1A9E963400F639B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C7060511A9E970100F639B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CA81D991AE5B6110071AC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CA81E221AE5B63E0071AC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
